.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: #fff;
  width: 90%;
  max-width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-align: center;
  animation: fadeIn 0.2s ease-in-out;
}

.modal-box h3 {
  margin-bottom: 8px;
}

.modal-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.cancel-btn,
.confirm-btn {
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.cancel-btn {
  background: #ccc;
}

.confirm-btn {
  background: #d82148;
  color: #fff;
}

.confirm-btn:hover {
  background: #b5163a;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
